<!doctype html>
<html>
    <head>
        {% if autorefresh %}
        <meta http-equiv="refresh" content="5">
        {% endif %}
        <title>Items</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='update.js') }}">
        </script>
        <script src="{{ url_for('static', filename='button.js') }}">
        </script>
    </head>
    <body>
        <div style='width: 100%; display:inline-flex'>
            <div class='lefthalf'>
                <!-- <p class="bigtitle">Connectivity</p> -->
                <div class="times">
                    <div class="date" id="date">{{ time["date"] }}</div>
                    <div class="time" id="time">{{ time["time"] }}</div>
                    <span class="tz_label">Pacific:</span> <span class="alttime" id="pactime">{{ time["pactime"] }}</span>
                </div>
                <ul id="hosts" class="hosts">
                    {% autoescape false %}
                    {%for host in hosts %}
                    <li class="host">{{ host["name"] }} <b>{{ host["conn"] }}</b> {{ '%2d' % (host["rate"] * 100) }}% </li>
                    {% endfor %}
                    {% endautoescape %}
                </ul>
                <!-- <p class="bigtitle">Items</p> -->
                <ul id="items" class="items">
                    {% for item in items %}
                    <li>{{ item["idx"] }} <b>{{ item["title"] }}</b> {{ item["content"] }}</li>
                    {% endfor %}
                </ul>
                <div id="dhcp" class="dhcp">
                    {{ dhcp }}
                </div>
                <div id="msgs" class="msgs">
                    {% autoescape false %}
                    {{ msg }}
                    {% endautoescape %}
                </div>
                <div id="timers" class="timers">
                    {% autoescape false %}
                    <div class="{{ timer["style"] }}">{{ timer["state"] }}</div>
                    {% endautoescape %}
                </div>
                <div id="music" class="music">
                    <div class="title">{{ music["title"] }}</div>
                    <div class="artist">{{ music["artist"] }}</div>
                    <marquee class="album" scrolldelay="20">{{ music["album"] }}</marquee>
                </div>
                <div id="status" class="status"></div>
            </div>
            <div class='righthalf'>
                <!-- <p class="bigtitle">News</p> -->
                <div id="news" class="news">
                    <ul>
                        {% for piece in news %}
                        <li class="newspiece">
                            {{ piece["title"] }}
                            <!--
                                {% if piece["link"] %}
                                <a href="{{ piece["link"] }}">link</a>
                                {% endif %}
                            -->
                            {{ piece["content"] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="buttons" class="buttons">
                    {% for button in buttons %}
                    <div id="button_{{ button["id"] }}">
                        <button id="button_input_{{ button["id"] }}" class="button_{{ button["class"] }}" onclick="button_click('{{ button["id"] }}');">
                            <img src="{{ url_for('static', filename=button["img"]) }}" class="button_{{ button["class"] }}_image"/>
                            <div id="button_{{ button["id"] }}_text" class="button_{{ button["class"] }}_text">
                                {{ button["text"] }}
                            </div>
                        </button>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
